/*Colors*/
/* primary button */
/* Login Home */
/* secondary button */
/* fontColor, background */
/* signup disclaimer font color */
/* menu background */
/* singup disclaimer background */
body {
  color: #3F3F3F !important; }

.whiteBack {
  background: #fff !important; }

.blueBack {
  background: #0C4B88 !important; }

.redBack {
  background: #ED1B2E !important; }

.lightGrayBack {
  background: #DEDEDE !important; }

.lighterGrayBack {
  background: #F7F7F7 !important;
  color: #B0B0B0; }

.greenBack {
  background: #53C253; }

.text-white {
  color: #fff; }

.padding-15 {
  padding: 15px; }

.margin-bottom-20 {
  margin-bottom: 20px; }

/* large icons */
.icon-lg {
  font-size: 24px;
  padding: 10px;
  color: gainsboro;
  cursor: pointer; }
  .icon-lg:hover {
    color: darkblue; }

.icon-md {
  font-size: large;
  padding: 10px;
  color: gainsboro;
  cursor: pointer; }
  .icon-md:hover {
    color: darkblue; }

.closeIcon {
  position: absolute;
  right: 15px;
  top: 20px; }
  .closeIcon i {
    padding: 0px;
    color: #B0B0B0; }
  .closeIcon.inside-border {
    right: 30px; }

.panel-lg {
  padding: 0px !important; }

.btn-danger-lg {
  width: 100% !important;
  padding: 20px !important; }

.btn:hover {
  color: #fff; }

.form-group span.help-block {
  color: #ED1B2E; }

label[for="forgot"] {
  color: #B0B0B0;
  top: 15px;
  padding-left: 0px; }

.btn-green {
  background: #53C253;
  opacity: 1 !important;
  color: #fff; }

.btn-create-account {
  border-color: #0C4B88;
  color: #fff;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.navbar-toggle {
  float: left !important;
  margin-left: 15px !important;
  border: none !important;
  border-radius: 4px !important; }

.navbar .container-fluid {
  padding: 0; }
  .navbar .container-fluid .nav-menu {
    padding: 10px 0;
    cursor: pointer; }
    .navbar .container-fluid .nav-menu span {
      color: #0C4B88;
      padding: 10px 0; }
  .navbar .container-fluid .nav-search {
    float: right;
    padding: 10px 0; }
    .navbar .container-fluid .nav-search span {
      padding: 10px 0; }
  .navbar .container-fluid .lblCompany {
    color: #ED1B2E; }

/* Hover/Focus state */
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #fff;
  background-color: #ED1B2E; }

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  background-color: #ED1B2E; }

.dropdown-menu > .disabled > a, .dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
  color: #cccccc; }
.dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none; }

.bg-main {
  background-color: #DEDEDE;
  padding: 20px;
  max-height: 200px;
  height: 100px; }

.bg-main-inner {
  background-color: #F7F7F7; }

#tracking h3 {
  margin-top: 0px; }

.carousel {
  height: 320px; }
  .carousel .carousel-inner {
    background: #000 url("/img/main/tracking.jpg") no-repeat center center;
    background-size: cover;
    height: 100%; }
    .carousel .carousel-inner div.item {
      height: 100%;
      padding-top: 10px;
      background: rgba(0, 0, 0, 0.5); }
      .carousel .carousel-inner div.item .bg-main-inner-tracking {
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 6px;
        padding-top: 15px; }
        .carousel .carousel-inner div.item .bg-main-inner-tracking .form-group input.col-xs-12 {
          margin: 0 0 15px 0; }
        .carousel .carousel-inner div.item .bg-main-inner-tracking .form-group button {
          margin-bottom: 15px; }

.signup-panel {
  padding: 0px; }
  .signup-panel .disclaimer-signup {
    padding: 15px 10%; }

.menuList {
  padding: 0 !important; }
  .menuList .md-button:not([disabled]):hover {
    background: #ED1B2E; }
    .menuList .md-button:not([disabled]):hover .menuOption {
      color: #fff; }
  .menuList .menuOption {
    z-index: 1;
    color: #3F3F3F;
    font-weight: bold; }

/*# sourceMappingURL=styles.css.map */
