<div class="bg-main">
  <div class="col-xs-6 col-md-6 col-sm-6">
    <div class="panel-footer panel-lg">
      <a class="btn btn-primary btn-lg btn-danger-lg" href="#/login">LOGIN</a>
     </div>
  </div>
  <div class="col-xs-6 col-md-6 col-sm-6">
      <a class="btn btn-danger btn-lg btn-danger-lg" href="#/signup">REGISTRO</a>
  </div>
</div>
<div class="bg-main-inner">
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <h3 class="text-center text-white">Donde esta mi envio</h3>
      <h5 class="text-center text-white">Para consultar el estado de</h5>
      <h5 class="text-center text-white">tu envio utiliza este enlace:</h5>

      <div class="bg-main-inner-tracking">
         <div class="form-group">
            <input type="text" class="form-control input-lg" id="exampleInputEmail1" placeholder="Track">
        </div>
        <div class="form-actions">
         <button type="button" class="btn btn-success btn-lg col-xs-12 col-md-12 col-sm-12">TRACK</button>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="carousel-caption">

      </div>
    </div>
  </div>
    </div>
  <!-- Controls -->

</div>
