<div class="bg-main">
  <div class="col-xs-6">
    <div>
      <a class="btn btn-lg btn-danger-lg blueBack text-white" href="#/login">LOGIN</a>
    </div>
  </div>
  <div class="col-xs-6">
    <a class="btn btn-lg btn-danger-lg redBack text-white" href="#/signup">REGISTRO</a>
  </div>
</div>
<div class="bg-main-inner">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active" id="tracking">
        <h1 class="text-center text-white">Donde esta mi envio</h1>
        <h4 class="text-center text-white">Para consultar el estado de tu envio utiliza este enlace:</h4>
        

        <div class="bg-main-inner-tracking col-xs-8 col-xs-offset-2">
          <div class="form-group">
            <input type="text" class="input-lg col-sm-8 col-xs-12" id="exampleInputEmail1" placeholder="Track">
            <button type="button" class="btn greenBack col-xs-12 col-sm-3 col-sm-offset-1 btn-lg text-white">TRACK</button>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="carousel-caption"></div>
      </div>
    </div>
  </div>
  <!-- Controls -->
</div>
