@import 'files/variables.scss';

body{
	color: $font-color !important;
}
md-icon{
	fill: $blueColor !important;
}
ng-md-icon{
	fill: $font-color !important;
}

.whiteBack{
	background: $whiteColor !important;
}
.blueBack{
	background: $blueColor !important;
}
.redBack{
	background: $redColor !important;
}
.lightGrayBack{
	background: $lightGray !important;
}
.lighterGrayBack{
	background: $lighterGray !important;
	color: $grayColor;
}

.menuList{
	padding: 0 !important;

	.md-button:not([disabled]):hover{
		background: $redColor;
		
		.menuOption{
			color: $whiteColor;
		}
	}
	.menuOption{
		z-index: 1;
		color: $font-color;
		font-weight: bold;
	}
}