@import 'files/variables.scss';
@import 'files/global.scss';
@import 'files/login.scss';
@import 'files/navbar.scss';

.menuList{
	padding: 0 !important;

	.md-button:not([disabled]):hover{
		background: $redColor;
		
		.menuOption{
			color: $whiteColor;
		}
	}
	.menuOption{
		z-index: 1;
		color: $font-color;
		font-weight: bold;
	}
}