<div class="row">
<div class="col-md-12 col-sm-12 col-xs-12">
<div class="panel panel-default">
<button class="btn btn-danger btn-lg col-xs-12 col-med-12 col-sm-12">CALCULADORA DE COSTOS</button>

    <div class="col-md-12 col-sm-12 col-xs-12 well well-sm">
    <div class="col-xs-10 col-md-11 col-sm-11">
        <p>Aqui puede calcular el valor aproximado de envio. Para mayor certeza en los resultados se recomienda diligenciar todos los campos.</p>
    </div>
     <div class="col-xs-1 col-md-1 col-sm-1">
        <a href="#/main"><i class="glyphicon glyphicon-remove icon-md" aria-hidden="true"></i></a>
    </div>
    </div>
  <div class="panel-body">
    <div class="form-group col-md-6 col-sm-6 col-xs-12">
     <select class="form-control input-lg">
        <option value="" selected disabled>Tipo de envio*</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
    </select>
    </div>
    <div class="form-group col-md-6 col-sm-6 col-xs-12">
     <input type="text" name="valorus" id="codigoverif" class="form-control input-lg" ng-model="valorus" required placeholder="Valor declarado (US$)*"/>
        <span ng-show="form.valorus.$dirty && form.valorus.$error.required" class="help-block">value es requerido</span>
    </div>
    <div class="form-group col-md-6 col-sm-6 col-xs-12">
     <select class="form-control input-lg">
        <option value="" selected disabled>Origen del despacho*</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
    </select>
    </div>
    <div class="form-group col-md-6 col-sm-6 col-xs-12">
     <input type="text" name="pesolb" id="codigoverif" class="form-control input-lg" ng-model="pesolb" required placeholder="Peso (Lb.) *"/>
        <span ng-show="form.valorus.$dirty && form.valorus.$error.required" class="help-block">peso es requirido</span>
    </div>
      <p><label><strong>Medidas : </strong></label>Si cuenta con las medidas del paquete ingreselas a continuacion</p>
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="bg-primary">
      <h3>Sistema de medida*</h3>
    </div>
    <div class="bg-primary">
     <h3>Largo</h3>
    </div>
    <div class="well well-sm">
         <rzslider rz-slider-model="priceSlider"></rzslider>
    </div>
    <div class="bg-primary"><h3>Alto</h3></div>
    <div class="well well-sm">
        <rzslider rz-slider-model="priceSlider"></rzslider>
    </div>
    <div class="bg-primary"><h3>Ancho</h3></div>
    <div class="well well-sm">
         <rzslider rz-slider-model="priceSlider"></rzslider>
    </div>
    <div>
       <p><label><strong>Bono: </strong></label>Si posee algun bono, ingrese la informacion a continuaciòn</p>
    </div>
      </div>
    <div class="form-group col-md-6 col-sm-6 col-xs-12">
     <input type="text" name="codigo" id="codigo" class="form-control input-lg" ng-model="codigo" required placeholder="Valor declarado (US$)*"/>
        <span ng-show="form.codigo.$dirty && form.codigo.$error.required" class="help-block">Còdigo es requerido</span>
    </div>
    <div class="form-group col-md-6 col-sm-6 col-xs-12">
     <input type="text" name="numbercasillero" id="numbercasillero" class="form-control input-lg" ng-model="numbercasillero" required placeholder="Valor declarado (US$)*"/>
        <span ng-show="form.number.$dirty && form.number.$error.required" class="help-block">Nùmero de casillero es requerido</span>
    </div>
         <div class="form-actions col-md-12 col-sm-12 col-xs-12">
        <div class="checkbox col-md-10 col-sm-10 col-xs-0">
        </div>
        <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-primary btn-lg col-xs-12 col-med-2 col-sm-2">CALCULAR</button>
        <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
    </div>
  </div>
</div>
</div>
</div>
