body{
	color: $font-color !important;
}
.whiteBack{
	background: $whiteColor !important;
}
.blueBack{
	background: $blueColor !important;
}
.redBack{
	background: $redColor !important;
}
.lightGrayBack{
	background: $lightGray !important;
}
.lighterGrayBack{
	background: $lighterGray !important;
	color: $grayColor;
}
.greenBack{
	background: $greenColor;
}
.text-white {
 color: $whiteColor;
}
.padding-15{
	padding: 15px;
}
.margin-bottom-20{
	margin-bottom: 20px;
}

/* large icons */
.icon-lg{
	font-size: 24px;
	padding: 10px;
  	color: gainsboro;
  	cursor: pointer;

  	&:hover{
  		color: darkblue;
  	};
}
.icon-md {
	 font-size: large;
	 padding: 10px;
	 color: gainsboro;
	 cursor: pointer;

	 &:hover{
		color: darkblue;
	}
}
.closeIcon{
	position: absolute;
	right: 15px;
	top: 20px;
	i{
		padding: 0px;
		color: $grayColor;
	}
	&.inside-border{
		right: 30px;
	}
}

.panel-lg {
   padding: 0px !important;
}
.btn-danger-lg {
    width: 100% !important;
    padding: 20px !important;
}
.btn:hover{
	color: $whiteColor;
}
@mixin blackOpacity($opacity){
	background-color: rgba(0,0,0,$opacity); 
}

.form-group{
	span.help-block{
		color: $redColor;
	}
}