.bg-main {
	background-color: $lightGray;
	padding: 20px;
	max-height: 200px;
	height: 100px;
}

.bg-main-inner {
	background-color: $lighterGray;
}

#tracking{
	h3{
		margin-top: 0px;
	}
}

.carousel{
	height: 320px;
	.carousel-inner{
		background: #000 url("/img/main/tracking.jpg") no-repeat center center;
		background-size: cover;
		height: 100%;

		div.item{
			height: 100%;
			padding-top: 10px;
			background: rgba(0,0,0,0.5);

			.bg-main-inner-tracking {
				@include blackOpacity(0.4);
				border-radius: 6px;
				padding-top: 15px;

				.form-group{
					input.col-xs-12{
						margin: 0 0 15px 0;
					}
					button{
						margin-bottom: 15px;
					}
				}
			}	
		}
	}
}
