.navbar-toggle {
    float: left !important;
    margin-left: 15px !important;
    border: none !important;
    border-radius: 4px !important;
}
.navbar .container-fluid{
	padding: 0;

	.nav-menu{
		padding: 10px 0;
		cursor: pointer;
		span{
			color: $blueColor;
			padding: 10px 0;
		}
	}
	.nav-search {
	    float: right;
	    padding: 10px 0;
	    span{
	    	padding: 10px 0;
	    }
	}
	.lblCompany {
		color: $redColor;
	}
}