.navbar-toggle {
    float: left !important;
    margin-left: 15px !important;
    border: none !important;
    border-radius: 4px !important;
}
.navbar .container-fluid{
	padding: 0;

	.nav-menu{
		padding: 10px 0;
		cursor: pointer;
		span{
			color: $blueColor;
			padding: 10px 0;
		}
	}
	.nav-search {
	    float: right;
	    padding: 10px 0;
	    span{
	    	padding: 10px 0;
	    }
	}
	.lblCompany {
		color: $redColor;
	}
}

/* Hover/Focus state */
.dropdown-menu > li > a {
  &:hover,
  &:focus {
    text-decoration: none;
    color: $whiteColor;
    background-color: $redColor;
  }
}

// Active state
.dropdown-menu > .active > a {
  &,
  &:hover,
  &:focus {
    color: $whiteColor;
    text-decoration: none;
    outline: 0;
    background-color: $redColor;
  }
}

.dropdown-menu > .disabled > a {
  &,
  &:hover,
  &:focus {
    color: $dropdown-link-disabled-color;
  }

  // Nuke hover/focus effects
  &:hover,
  &:focus {
    text-decoration: none;
    background-color: transparent;
    background-image: none; // Remove CSS gradient
  }
}
