$font-stack:    Helvetica, sans-serif;
$font-color: #3F3F3F;

/*Colors*/
$blueColor: #0C4B88; /* primary button */
$greenColor: #53C253; /* Login Home */
$redColor: #ED1B2E; /* secondary button */
$whiteColor: #fff; /* fontColor, background */
$grayColor: #B0B0B0; /* signup disclaimer font color */
$lightGray: #DEDEDE; /* menu background */
$lighterGray: #F7F7F7; /* singup disclaimer background */