<div class="row">
<div class="col-xs-12 col-md-offset-0 col-md-12 col-sm-12">
<div class="col-sm-12 col-md-12 col-xs-12"><h4>Contactanos</h4></div>
 <div class="col-sm-6 col-md-4">
   <img src="" class="col-med-4 col-sm-4 col-xs-6" alt="...">
      <div class="caption">
        <h3>MIAMI</h3>
        <p>FLY (box number) Name and Surname 1670 NW 82 Avenue Doral, Florida 33191 *. Tel: (305) 599 9112 <a href="mailto:sevicioalcliente@flybox.com.co"></a></p>
      </div>

  </div>
  <div class="col-sm-6 col-md-4">
   <img src="" class="col-med-4 col-sm-4 col-xs-6" alt="...">
      <div class="caption">
        <h3>MADRID</h3>
        <p>FLY (box number) Name and Surname 1670 NW 82 Avenue Doral, Florida 33191 *. Tel: (305) 599 9112 <a href="mailto:sevicioalcliente@flybox.com.co"></a></p>

      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-12 col-xs-12"><p>Contact us at 4051405 in Bogota and the rest of the country toll-free 018000519393</p></div>
</div>
